<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'SCWDDJOMT0',
	apiKey: '2849aa45140454c74133a05640b853c8',
	siteId: 'dfb972e9-2cb3-4e95-a9c9-8867f49c4d5d',
	branch: 'main',
	selector: 'div#search',
  });
</script>
<div id="search"></div>
