<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'NEPUB6IX5I',
	apiKey: 'cd92b51c9a2d37d3cbc3e0b71b80e286',
	siteId: '64632c80-cf2c-441e-a796-a9511e4376fe',
	branch: 'master',
	selector: 'div#search',
  });
</script>
